$monokai-background: #272822;
$monokai-highlight: #3E3D32;
$monokai-text:#F8F8F2;
$monokai-text-secondary: #D3D3D3;
$monokai-selection: #49483E;
$monokai-interaction-red: #F92672;
$monokai-interaction-green: #A6E22E;
$monokai-interaction-cyan: #66D9EF;
$monokai-accent-orange: #FD971F;
$monokai-accent-yellow: #E6DB74;
$monokai-accent-purple: #AE81FF;

@mixin flex-center($justify-value) {
  display: flex;
  justify-content: $justify-value;
  align-items: center;
}

@mixin transition($transition-type) {
  transition: $transition-type 0.5s ease-in-out;
}

@mixin underline($color) {
  text-decoration: underline;
  text-decoration-color: $color;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}
