@use './globals.scss' as *;

$large-mobile-width: 700px;
$small-mobile-width: 370px;

@mixin navbar {
  @media (max-width: $large-mobile-width) {
    .navbar {
      width: 100%;
      overflow: hidden;
      max-height: 0px;
      visibility: hidden;
      @include transition(max-height visibility);

      &--open{
        visibility: visible;
        display: block;
        max-height: 500px;
      }

      &__item {
        height: 3.5rem;
        border-bottom: 1px solid $monokai-selection;

        &:hover {
          border: none;
        }
      }
    }
  }
}

@mixin list {
  @media (max-width: $large-mobile-width) {
    .list {
      flex-direction: column;
    }
  }
}

@mixin header {
  .header {
    @media (max-width: $large-mobile-width) {
      flex-wrap: wrap;
    }

    &__menu {
      @media (max-width: $large-mobile-width) {
        margin-right: 1rem;
        @include flex-center(space-evenly);
      }

      @media (max-width: $small-mobile-width) {
        margin-right: 0.5rem;
        scale: 0.9;
      }
    }
  }
}

@mixin logo {
  @media (max-width: $small-mobile-width) {
    .logo {
      margin-left: 0.5rem;
      &__icon {
        scale: 0.9;
      }

      &__title {
        font-size: 1.7rem;
      }
    }
  }
}

@mixin main {
  @media (max-width: $large-mobile-width) {
    .main {
      width: 80%;
    }
  }
}
