@use './globals.scss' as *;

$large-mobile-width: 700px;
$small-mobile-width: 360px;

@mixin navbar {
  @media (max-width: $large-mobile-width) {
    .navbar {
        width: 100%;
        overflow: hidden;
        max-height: 0px;
        @include transition(max-height);

        &--open{
          display: block;
          max-height: 500px;
        }
    }
  }
}

@mixin list {
  @media (max-width: $large-mobile-width) {
    .list {
      flex-direction: column;
    }
  }
}

@mixin header {
  @media (max-width: $large-mobile-width) {
    .header {
      flex-wrap: wrap;

      &__menu {
        margin-right: 1em;
        @include flex-center(space-evenly);
      }
    }
  }
}

@mixin logo {
  @media (max-width: $small-mobile-width) {
    .logo {
      &__icon {
        scale: 0.9;
      }

      &__title {
        font-size: 1.7rem;
      }
    }
  }
}
