@use '@styles/globals.scss' as *;

.box {
  width: 70%;
  margin: 50px auto;
  border: 1px solid $monokai-accent-yellow;
  border-radius: 20px;
  @include flex-center(space-evenly);
  flex-direction: column;
  text-align: center;

  &__content {
    padding: 7px;
    font-size: small;
    color: $monokai-text-secondary;

    &--large {
      font-size: large;
      font-weight: bold;
      color: $monokai-text;
    }
  }
}
