@use '@styles/globals.scss' as *;

.button {
  color: $monokai-text;
  @include transition(color);

  &:hover {
    color: $monokai-interaction-green;
  }

  &--text-only {
    border: none;

    &:focus {
      outline: none;
      @include underline($monokai-interaction-green);
    }
  }
  &__icon{
    scale: 2;
  }

}
