@use '@styles/globals.scss' as *;
@use '@styles/mobile-styles.scss' as mobile-styles;

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;

  &__box {
    width: 100%;
    border: 1px solid $monokai-accent-yellow;
    border-radius: 10px;
    flex: 1;
    margin: 15px;

  }

  &__chart {
    margin: 15px;

    &--sr-only{
      position:absolute;
      left:-10000px;
      top:auto;
      width:1px;
      height:1px;
      overflow:hidden;
    }
  }
}

@include mobile-styles.charts
