@use '@styles/globals.scss' as *;

.collapsible {
  margin-top: 10px; 
  white-space: nowrap;

  &__content {
    margin: 5px;
    margin-left: 40px;
    white-space: wrap;
    color: $monokai-text;
    overflow: hidden;
    max-height: 0px;
    @include transition(max-height);

    &--open {
      max-height: 100px; 
    }
  }
}
