@use '@styles/globals.scss' as *;

.footer {
  background-color: $monokai-background;
  border-top: 2px solid $monokai-selection;
  line-height: 1.9;
  @include flex-center(space-between);

  &__content {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 40%;
  }
}
