@use '../globals.scss' as *;
@use '../mobile-styles.scss' as mobile-styles;

.header {
  @include flex-center(space-between);
  font-size: 1rem;
  border-bottom: 2px solid $monokai-selection;

  &__menu {
    display: none;
  }
}

@include mobile-styles.header
