@use '../colors.scss' as *;

.link {
  padding-left: 5px;
  padding-right: 5px;
  transition: color 0.5s, border-color;

  &:hover {
    background-color: $monokai-highlight;
    color: $monokai-interaction-red;
    border: 1px solid;
    cursor: pointer;
  }

  &--type-navbar {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
  }
}
