@use '../globals.scss' as *;

.link {
  color: $monokai-text;

  &--type-text {
    text-decoration: underline;
    text-decoration-color: $monokai-interaction-red;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
  }

  &:hover {
    cursor: pointer;
    color: $monokai-interaction-red;
    transition: color 0.5s, 
  }

  &--type-icon {
    height: 100%;
    width: 100%;
    @include flex-center(space-evenly);

    &:hover {
      border: 1px solid;
      background-color: $monokai-highlight;
    }
  }
}
