@use '../globals.scss' as *;

.link {
  color: $monokai-text;
  @include transition(color);

  &--type-text {
    @include underline($monokai-interaction-red);
  }

  &:hover {
    cursor: pointer;
    color: $monokai-interaction-red;
  }

  &--type-icon {
    height: 100%;
    width: 100%;
    @include flex-center(space-evenly);
  }
}
