@use '../globals.scss' as *;

.logo {
  height: 100%;
  margin-left: 1em;
  @include flex-center(space-evenly);

  &__icon{
    color: $monokai-accent-orange;
  }

  &__title {
    font-family: 'Montserratjj';
    color: $monokai-accent-orange;
  }
}
