@use '../globals.scss' as *;
@use '../mobile-styles.scss' as mobile-styles;

.logo {
  height: 100%;
  margin-left: 1em;
  @include flex-center(space-evenly);

  &__icon{
    color: $monokai-accent-orange;
  }

  &__title {
    font-size: 2rem;
    font-family: 'Montserratjj';
    color: $monokai-accent-orange;
  }
}

@include mobile-styles.logo
