@use '../globals.scss' as *;
@use '../mobile-styles.scss' as mobile-styles;

.navbar {
    width: 50%;
    align-self: stretch;
    @include flex-center(space-evenly);

  &__item{
    width: 100%;
    align-self: stretch;
    @include flex-center(space-evenly);
    @include transition(color);
    color: $monokai-text;
    font-weight: 700;

    &:hover {
      background-color: $monokai-highlight;
    }
  }

}

@include mobile-styles.navbar
