@use '../globals.scss' as *;
@use '../mobile-styles.scss' as mobile-styles;

.navbar {
  width: 60%;
  margin-right: 0.2rem;
  align-self: stretch;
  @include flex-center(space-evenly);

  &__item{
    background-color: $monokai-background;
    width: 100%;
    align-self: stretch;
    @include flex-center(space-evenly);
    @include transition(color border-color);
    color: $monokai-text;
    font-weight: 700;

    &:hover {
      border: 1px solid $monokai-interaction-red;
      background-color: $monokai-highlight;
    }


  }

}

@include mobile-styles.navbar
