@use '../globals.scss' as *;

.navbar {
    height: 100%;
    width: 50%;
    @include flex-center(space-evenly);
}

.navbar__item{
  height: 100%;
  width: 100%;
  @include flex-center(space-evenly);
  color: $monokai-text;
  font-weight: 700;

}
